S3method(plot,skewT.ax)
S3method(plot,time.series)
S3method(update,KPP.concentrations)
S3method(update,deposition)
S3method(update,emissions)
export(E.2.TD)
export(E.2.TD.ice)
export(ES)
export(ES.ice)
export(F.0)
export(N.A)
export(PP.0)
export(R.air)
export(R.h2o)
export(R.star)
export(RH.TT.2.E)
export(RH.TT.2.TD)
export(RH.TT.PP.2.SH)
export(SH.PP.2.E)
export(T.0)
export(TT.PP.2.PT)
export(TT.SH.2.TV)
export(TT.TD.2.RH)
export(TT.TD.PP.2.TV)
export(UU_VV_2_WS_WD)
export(WS_WD_2_UU_VV)
export(WS_WD_angle_2_UU_VV)
export(axis.chron)
export(c.p)
export(c.v)
export(chron.2.string)
export(create.sounding.url)
export(dewpt)
export(dry.deposition.velocity)
export(g.0)
export(gamma_s)
export(get.KPP.globals)
export(get.KPP.species)
export(get.MCM.photolysis.rates)
export(get.sounding)
export(global.radiation)
export(init.KPP)
export(isa.pp.2.zz)
export(isa.zz.2.pp)
export(isa.zz.2.tt)
export(isothermal.pressure.gradient)
export(k.b)
export(mc.2.vmr)
export(mu.air)
export(mu.h2o)
export(nc.2.vmr)
export(polytropic.pressure.gradient)
export(set.KPP.globals)
export(skewT.plot)
export(solar.azimuth.angle)
export(solar.elevation.angle)
export(solar.hour)
export(solar.zenith.angle)
export(vmr.2.mc)
export(vmr.2.nc)
useDynLib(AirPolModChem)
